# Base de Datos
DATABASE_URL=postgresql://user:password@localhost:5432/viveres

# JWT
JWT_SECRET=your-super-secret-key-min-32-chars
JWT_EXPIRES_IN=1d

# Firma Digital (SRI)
P12_PASSWORD=your-p12-password
P12_PATH=./firma.p12

# Empresa (SRI)
EMPRESA_RUC=1234567890001
EMPRESA_NOMBRE=VIVERES LUPITA
EMPRESA_NOMBRE_COMERCIAL=VIVERES LUPITA

# App
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000